@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

h1 {
    font-family: "Stack Sans Notch", sans-serif;
}
h2 {
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Instrument Sans", sans-serif;
    font-size:30px;
}

.stats-font {
  font-family: "Instrument Sans", sans-serif;
}

.testimonials {
    overflow: auto; /* Ensures scrolling is possible if needed */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.testimonials::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }


/* CSS BACKGROUND  */
.background-polka {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#2bbcff 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
}
